{% extends 'djangobb_forum/base.html' %}
{% load forum_extras %}
{% load i18n %}

{% block content %}
{% if mailto.email and request.user.email %}
<div class="blockform">
	<h2><span>{% trans "Send e-mail to" %} {{ mailto }}</span></h2>
	<div class="box">
		<form id="email" method="post">
			{% csrf_token %}
			<div class="inform">
				<fieldset>
					<legend>{% trans "Write and submit your e-mail message" %}</legend>
					<div class="infldset txtarea">
						{{ form }}
						<p>{% trans "Please note that by using this form, your e-mail address will be disclosed to the recipient." %}</p>
					</div>
				</fieldset>
			</div>
			<p><input type="submit" name="submit" value="{% trans "Submit" %}" tabindex="3" accesskey="s" /><a href="javascript:history.go(-1)">{% trans "Go back" %}</a></p>
		</form>
	</div>
</div>
{% else %}
<div class="block">
	<p>{% trans "You can't send email this user." %}</p>
	{% if not request.user.email %}
		<p>{% trans "We don't have your email address." %}</p>
	{% endif %}
	{% if not mailto.email %}
		<p>{% trans "We don't have the user's email address." %}</p>
	{% endif %}
</div>
{% endif %}
{% endblock %}

{% block controls %}
{% endblock %}}
